<ion-header>

  <ion-navbar>
    <ion-title>Chat</ion-title>
  </ion-navbar>

</ion-header>


<ion-content style="text-align: center" padding>
  <div class="balloonContainer" *ngIf="!groupProvider.firstTimeFlag
               &&groupProvider.userGroupId!=null
               &&groupProvider.userGroupId!=''
               &&groupProvider.groupTableInfo[groupProvider.userGroupId]!=null">
    <div class="balloon"
         *ngFor="let memberId of groupProvider.groupTableInfo[groupProvider.userGroupId].members">
      <img src="{{userProvider.userTableInfo[memberId].photoUrl}}">
      {{userProvider.userTableInfo[memberId].name}}
    </div>

  </div>
  <ion-item class="transparentBackground" no-lines text-wrap (click)="publicChat()">
    <ion-avatar item-start>
      <img src='assets/imgs/admin.png'>
    </ion-avatar>
    <h2>Public Chat</h2>
    <p>Ask admin questions</p>
    <ion-badge color="eeeBlue"
               *ngIf="chatProvider.newMsgNo[chatProvider.public]!=null
               &&chatProvider.newMsgNo[chatProvider.public]!=0"
               item-end>
      {{chatProvider.newMsgNo[chatProvider.public]}}
    </ion-badge>
  </ion-item>
  <div *ngIf="!groupProvider.firstTimeFlag
               &&groupProvider.userGroupId!=null
               &&groupProvider.userGroupId!=''">
    <ion-item class="transparentBackground selfView" no-lines text-wrap (click)="groupChat()">
      <ion-avatar item-start>
        <img src={{groupProvider.groupTableInfo[groupProvider.userGroupId].photoUrl}}>
      </ion-avatar>
      <h2>{{groupProvider.groupTableInfo[groupProvider.userGroupId].name}}
        </h2>
      <p>Group no: {{("00"+groupProvider.groupTableInfo[groupProvider.userGroupId].groupNumber).slice(-3)}}</p>
      <p>Chat with your teammates!</p>
      <ion-badge color="eeeBlue"
                 *ngIf="chatProvider.newMsgNo[groupProvider.userGroupId]!=null
                 &&chatProvider.newMsgNo[groupProvider.userGroupId]!=0"
                 item-end>
        {{chatProvider.newMsgNo[groupProvider.userGroupId]}}
      </ion-badge>
    </ion-item>
    <div class="spacer buttonSpacer"></div>
    <button style="margin-top: 10%;" *ngIf="!groupProvider.firstTimeFlag
                &&groupProvider.userGroupId!=null
                &&groupProvider.userGroupId!=''"
            ion-button block outline (click)="joinGroup()">
      Change Group
    </button>
    <div class="spacer buttonSpacer"></div>
    <p *ngIf="!groupProvider.firstTimeFlag
                &&groupProvider.userGroupId!=null
                &&groupProvider.userGroupId!=''
                &&groupProvider.groupLeaderFlag">
      Got friend arrive late?
    </p>
    <p *ngIf="!groupProvider.firstTimeFlag
                &&groupProvider.userGroupId!=null
                &&groupProvider.userGroupId!=''
                &&groupProvider.groupLeaderFlag">
      Someone wants to quit after game started?
    </p>
    <h6 *ngIf="!groupProvider.firstTimeFlag
                &&groupProvider.userGroupId!=null
                &&groupProvider.userGroupId!=''
                &&groupProvider.groupLeaderFlag">
      Check below!
      <ion-icon name="happy"></ion-icon>
    </h6>
    <button *ngIf="!groupProvider.firstTimeFlag
                &&groupProvider.userGroupId!=null
                &&groupProvider.userGroupId!=''
                &&groupProvider.groupLeaderFlag"
            ion-button block outline (click)="showGroupLeaderOption()">
      You Are the Mighty Group Leader
    </button>


  </div>

  <button *ngIf="!groupProvider.firstTimeFlag
                &&(groupProvider.userGroupId==null
                ||groupProvider.userGroupId=='')"
          ion-button block outline (click)="joinGroup()">Join Group
  </button>
</ion-content>
