<ion-header>

  <ion-navbar>
    <ion-title>group</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <button ion-button block (click)="publicChat()">Public Chat</button>
  <div *ngIf="!groupProvider.firstTimeFlag
               &&groupProvider.userGroupId!=null
               &&groupProvider.userGroupId!=''">
    <button ion-button block (click)="groupChat()">
      Group Chat
    </button>

    <button *ngIf="!statusProvider.firstTimeFlag
                  &&(statusProvider.statusTableInfo==null
                  ||statusProvider.statusTableInfo.groups==null
                  ||statusProvider.statusTableInfo.groups[groupProvider.userGroupId]==null
                  ||statusProvider.statusTableInfo.groups[groupProvider.userGroupId].startTime==null
                  ||statusProvider.statusTableInfo.groups[groupProvider.userGroupId].startTime=='')"
            ion-button block (click)="joinGroup()">
      Change Group
    </button>

  </div>

  <button *ngIf="!groupProvider.firstTimeFlag
                &&(groupProvider.userGroupId==null
                ||groupProvider.userGroupId=='')"
          ion-button block (click)="joinGroup()">Join Group
  </button>
</ion-content>
