<ion-header>

  <ion-navbar>
    <ion-title>Setting</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding text-center>

  <ion-item *ngIf="!userProvider.firstTimeFlag&&userProvider.userTableInfo[userProvider.getUid()]!=null" no-lines>
    <ion-avatar item-start>
      <img src={{userProvider.userTableInfo[userProvider.getUid()].photoUrl}}>
    </ion-avatar>
    <h2>{{userProvider.userTableInfo[userProvider.getUid()].name}}</h2>
    <p>You may update your profile!</p>
    <button ion-button clear
            item-end
            (click)="editProfile()">
      edit
    </button>
  </ion-item>
  <button ion-button block outline (click)="toggleContributor()">Contributor
    &nbsp;
    <ion-icon name="close-circle" *ngIf="showContributorFlag"></ion-icon>
  </button>
  <h5>Version:2.0.2</h5>
  <div *ngIf="showContributorFlag" style="text-align: center;">
    <h6>
      Supervisor: Prof.Shum Ping
    </h6>
    <h6>
      Puzzle design: Cherie & Gloria
    </h6>
    <h6>
      Logo design: Darin Tao
    </h6>
    <h6 (click)="adminOption()">
      Programmer: Li Wencheng
    </h6>
    <h6>
      Main framework used: Ionic 3.0, Firebase, AngularFire 2
    </h6>
    <h6>
      Email: E140093@e.ntu.edu.sg
    </h6>
  </div>
  <div class="spacer buttonSpacer"></div>
  <img class="eeeLogo" src="assets/imgs/eeeLogo.png">
  <!--../../-->
</ion-content>
