<ion-header>

  <ion-navbar>
    <ion-title>groupList</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-searchbar ion-fixed (input)="searchGroup($event)"
                 (ionClear)="clearSearch()"
                 placeholder="search by name or group no."></ion-searchbar>
  <div class="spacer headSpacer"></div>
  <ion-list>
    <ion-item *ngFor="let groupId of groupProvider.filteredKeys" text-wrap>
      <ion-avatar item-start>
        <img src={{groupProvider.groupTableInfo[groupId].photoUrl}}>
      </ion-avatar>
      <h2>{{groupProvider.groupTableInfo[groupId].name}}</h2>
      <p><i>Created on: {{groupId| date:'HH:mm'}}</i></p>
      <p><i>Group no. :{{("00"+groupProvider.groupTableInfo[groupId].groupNumber).slice(-3)}}</i></p>
      <button [disabled]="lock" *ngIf="groupProvider.userGroupId!=groupId" ion-button clear item-end
              (click)="joinGroup(groupId)">
        join
      </button>
      <button [disabled]="lock" *ngIf="groupProvider.userGroupId==groupId&&groupProvider.groupLeaderFlag" ion-button
              clear item-end
              (click)="editGroup(groupId)">edit
      </button>
      <button [disabled]="lock" *ngIf="groupProvider.userGroupId==groupId&&groupProvider.groupLeaderFlag" ion-button
              clear item-end
              color="danger" (click)="dismissGroup(groupId)">dismiss
      </button>
      <button [disabled]="lock" *ngIf="groupProvider.userGroupId==groupId&&!groupProvider.groupLeaderFlag" ion-button
              clear item-end
              color="danger" (click)="quitGroup()">quit
      </button>
    </ion-item>
  </ion-list>
  <button *ngIf="!groupProvider.groupLeaderFlag" ion-button block (click)="createGroup()">Create Group</button>
</ion-content>
