page-game {

  ion-item {
    padding-left: 5%;
    margin-top: 10% !important;
    margin-bottom: 10% !important;
    padding-right: 5%;
  }
  .balloon {
    display: inline-block;
    width: 50px;
    height: 55px;
    background: hsl(215, 50%, 65%);
    border-radius: 80%;
    position: relative;
    box-shadow: inset -10px -10px 0 rgba(0, 0, 0, 0.07);
    margin: 20px 30px;
    transition: transform 0.5s ease;
    z-index: 10;
    animation: balloons 4s ease-in-out infinite;
    transform-origin: bottom center;
  }

  @keyframes balloons {
    0%, 100% {
      transform: translateY(0) rotate(-4deg);
    }
    50% {
      transform: translateY(-25px) rotate(4deg);
    }
  }
  .balloonContainer {
    text-align: center;
    img {
      margin: 10px;
      width: 35px;
      height: 35px;
      border-radius: 50%;
      border: 1px solid rgba(255, 255, 255, 0.4);
      margin-left: auto;
      margin-right: auto;
    }
  }

  .balloon:before {
    content: "▲";
    font-size: 20px;
    color: hsl(215, 30%, 50%);
    display: block;
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: -12px;
    z-index: -100;
  }

  .balloon:after {
    display: inline-block;
    top: 63px;
    left: 25px;
    position: absolute;
    height: 250px;
    width: 1px;
    margin: 0 auto;
    content: "";
    background: rgba(0, 0, 0, 0.2);
  }

  .balloon:nth-child(6) {
    background: hsl(245, 40%, 65%);
    animation-duration: 3.5s;
  }
  .balloon:nth-child(6):before {
    color: hsl(245, 40%, 65%);
  }

  .balloon:nth-child(7) {
    background: hsl(139, 50%, 60%);
    animation-duration: 3s;
  }
  .balloon:nth-child(7):before {
    color: hsl(139, 30%, 50%);
  }

  .balloon:nth-child(8) {
    background: hsl(59, 50%, 58%);
    animation-duration: 4.5s;
  }
  .balloon:nth-child(8):before {
    color: hsl(59, 30%, 52%);
  }

  .balloon:nth-child(9) {
    background: hsl(23, 55%, 57%);
    animation-duration: 5s;
  }
  .balloon:nth-child(9):before {
    color: hsl(23, 44%, 46%);
  }
  .balloon:nth-child(10) {
    background: hsl(23, 55%, 57%);
    animation-duration: 5s;
  }
  .balloon:nth-child(10):before {
    color: hsl(23, 44%, 46%);
  }

  .balloon:nth-child(2) {
    background: hsl(245, 40%, 65%);
    animation-duration: 3.5s;
  }
  .balloon:nth-child(2):before {
    color: hsl(245, 40%, 65%);
  }

  .balloon:nth-child(3) {
    background: hsl(139, 50%, 60%);
    animation-duration: 3s;
  }
  .balloon:nth-child(3):before {
    color: hsl(139, 30%, 50%);
  }

  .balloon:nth-child(4) {
    background: hsl(59, 50%, 58%);
    animation-duration: 4.5s;
  }
  .balloon:nth-child(4):before {
    color: hsl(59, 30%, 52%);
  }

  .balloon:nth-child(5) {
    background: hsl(23, 55%, 57%);
    animation-duration: 5s;
  }
  .balloon:nth-child(5):before {
    color: hsl(23, 44%, 46%);
  }
  .statusNumber {
    text-align: center;
    font-size: 0.25em;
  }

  .solvedPuzzle {
    margin-left: 5%;
    width: 90%;
    text-align: center;
    box-sizing: border-box;
    border-radius: 5%;
    color: white;
    //border: 4px solid rgba(255, 255, 255, 0.4);
    box-shadow: 5px 5px grey;
    //-webkit-animation: vibration infinite;
    //-webkit-animation-duration: 5000ms;
    //background: linear-gradient(-45deg, white, #003777, black);
  }
  .unsolvedPuzzle {
    margin-left: 5%;
    width: 90%;
    text-align: center;
    box-sizing: border-box;
    border-radius: 5%;
    color: white;
    //border: 4px solid rgba(255, 255, 255, 0.4);
    background: linear-gradient(-45deg, white, #003777, black);
    box-shadow: 5px 5px grey;
    -webkit-animation: scale infinite;
    -webkit-animation-duration: 3000ms;
  }
  @-webkit-keyframes moveHorizon {
    0% {
      -webkit-transform: translate3d(-3%, 0, 0);
      opacity: 0.85;
    }
    50% {
      -webkit-transform: translate3d(+3%, 0, 0);
      opacity: 1;
    }
    100% {
      -webkit-transform: translate3d(-3%, 0, 0);
      opacity: 0.85;
    }
  }
  @-webkit-keyframes moveVertical {
    0% {
      -webkit-transform: translate3d(0, -3%, 0);
      opacity: 0.85;
    }
    50% {
      -webkit-transform: translate3d(0, +3%, 0);
      opacity: 1;
    }
    100% {
      -webkit-transform: translate3d(0, -3%, 0);
      opacity: 0.85;
    }
  }
  @-webkit-keyframes scale {
    0% {
      -webkit-transform: scale(0.95);
      opacity: 0.85;
    }
    50% {
      -webkit-transform: scale(1.1);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(0.95);
      opacity: 0.85;
    }
  }
  @-webkit-keyframes rotate {
    0% {
      -webkit-transform: rotate(3deg);
      opacity: 0.85;
    }
    50% {
      -webkit-transform: rotate(-3deg);
      opacity: 1;
    }
    100% {
      -webkit-transform: rotate(3deg);
      opacity: 0.85;
    }
  }

  @-webkit-keyframes moveAround {
    0% {
      -webkit-transform: translate3d(-3%, -3%, 0);
      opacity: 0.85;
    }
    25% {
      -webkit-transform: translate3d(-3%, +3%, 0);
      opacity: 0.95;
    }

    50% {
      -webkit-transform: translate3d(+3%, +3%, 0);
      opacity: 1;
    }
    75% {
      -webkit-transform: translate3d(+3%, -3%, 0);
      opacity: 0.95;
    }

    100% {
      -webkit-transform: translate3d(-3%, -3%, 0);
      opacity: 0.85;
    }
  }

}
