<ion-header>

  <ion-navbar>
    <ion-title *ngIf="!userProvider.firebaseConnection">
      <ion-spinner name="bubbles"></ion-spinner>
      Reconnect
    </ion-title>
    <ion-title *ngIf="userProvider.firebaseConnection">
      Xperience @EEE
    </ion-title>
    <ion-buttons *ngIf="(!gameProvider.firstTimeFlag
    &&!groupProvider.firstTimeFlag
    &&!statusProvider.firstTimeFlag)
    &&(statusProvider.statusTableInfo.startTime!=null
    &&statusProvider.statusTableInfo.startTime!=''
    &&(statusProvider.statusTableInfo.endTime==null
    ||statusProvider.statusTableInfo.endTime==''))
    &&(statusProvider.statusTableInfo.groups!=null
    &&statusProvider.statusTableInfo.groups.length!=0
    &&statusProvider.groupStatus!=null
    &&statusProvider.groupStatus.startTime!=null
    &&statusProvider.groupStatus.puzzles!=null)" end>
      <button ion-button icon-only (click)="showOptions()">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>

    <ion-buttons *ngIf="(!gameProvider.firstTimeFlag
    &&!groupProvider.firstTimeFlag
    &&!statusProvider.firstTimeFlag)
    &&(statusProvider.statusTableInfo.startTime!=null
    &&statusProvider.statusTableInfo.startTime!=''
    &&(statusProvider.statusTableInfo.endTime==null
    ||statusProvider.statusTableInfo.endTime==''))
    &&(statusProvider.statusTableInfo.groups==null
    ||statusProvider.statusTableInfo.groups.length==0
    ||statusProvider.groupStatus==null
    ||statusProvider.groupStatus.startTime==null
    ||statusProvider.groupStatus.puzzles==null)" end>
      <button ion-button icon-only (click)="askAdmin()">
        <ion-icon name="help"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content #content>
  <ion-toolbar *ngIf="(settingProvider.showTimeScoreFlag
    &&!gameProvider.firstTimeFlag
    &&!groupProvider.firstTimeFlag
    &&!statusProvider.firstTimeFlag)
    &&(statusProvider.statusTableInfo.startTime!=null
    &&statusProvider.statusTableInfo.startTime!=''
    &&(statusProvider.statusTableInfo.endTime==null
    ||statusProvider.statusTableInfo.endTime==''))
    &&(statusProvider.statusTableInfo.groups!=null
    &&statusProvider.statusTableInfo.groups.length!=0
    &&statusProvider.groupStatus!=null
    &&statusProvider.groupStatus.startTime!=null
    &&statusProvider.groupStatus.puzzles!=null)" ion-fixed>
    <ion-grid class="fontBlue">
      <ion-row style="text-align: center;">
        <ion-col col-6>
          <ion-icon padding-right ios="ios-alarm" md="md-alarm"></ion-icon>
          {{settingProvider.time-statusProvider.groupStatus.startTime|date:'HH:mm:ss':'UTC'}}
        </ion-col>
        <ion-col col-5>
          <ion-icon padding-right ios="ios-clipboard" md="md-clipboard"></ion-icon>
          {{statusProvider.groupStatus.point}}
        </ion-col>
        <ion-col col-1>
          <ion-icon padding-right name="close-circle" (click)="hideTimeScore()"></ion-icon>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="statusProvider.groupStatus.endTime==null
                        ||statusProvider.groupStatus.endTime==''">
        <div col-1>
        </div>
        <div class="progress-outer" col-9>
          <div class="progress-inner"
               [style.width]="statusProvider.puzzleStatusKeys.indexOf(statusProvider.firstUnsolved)/statusProvider.puzzleStatusKeys.length*100 + '%'">
          </div>
        </div>
        <div col-2 class="statusNumber">
          {{statusProvider.puzzleStatusKeys.indexOf(statusProvider.firstUnsolved)}}/{{statusProvider.puzzleStatusKeys.length}}
        </div>

      </ion-row>
      <!--<ion-row *ngIf="statusProvider.groupStatus.endTime!=null-->
      <!--&&statusProvider.groupStatus.endTime!=''" text-center>-->
      <!--check team rank-->
      <!--</ion-row>-->
    </ion-grid>
  </ion-toolbar>
  <ion-fab *ngIf="(!gameProvider.firstTimeFlag
    &&!groupProvider.firstTimeFlag
    &&!statusProvider.firstTimeFlag)
    &&(statusProvider.statusTableInfo.startTime!=null
    &&statusProvider.statusTableInfo.startTime!=''
    &&(statusProvider.statusTableInfo.endTime==null
    ||statusProvider.statusTableInfo.endTime==''))
    &&(statusProvider.statusTableInfo.groups!=null
    &&statusProvider.statusTableInfo.groups.length!=0
    &&statusProvider.groupStatus!=null
    &&statusProvider.groupStatus.startTime!=null
    &&statusProvider.groupStatus.puzzles!=null)"
           right bottom ion-fixed>
    <button ion-fab mini color="light">
      <ion-icon name="arrow-dropup"></ion-icon>
    </button>
    <ion-fab-list side="top">
      <button ion-fab (click)="viewIntro()">
        <ion-icon name="logo-freebsd-devil"></ion-icon>
      </button>
      <button ion-fab (click)="viewMap()">
        <ion-icon ios="ios-compass" md="md-compass"></ion-icon>
      </button>
      <button ion-fab (click)="viewTable()">
        <ion-icon ios="ios-flask" md="md-flask"></ion-icon>
      </button>
      <button ion-fab (click)="viewRank()">
        <ion-icon ios="ios-podium" md="md-podium"></ion-icon>
      </button>
      <button mini ion-fab (click)="showCanvas()">
        <ion-icon ios="ios-color-palette" md="md-color-palette"></ion-icon>
      </button>
    </ion-fab-list>
  </ion-fab>
  <div class="spacer headSpacer"></div>
  <div *ngIf="!gameProvider.firstTimeFlag
    &&!groupProvider.firstTimeFlag
    &&!statusProvider.firstTimeFlag">
    <!--tableAllFetched-->
    <div *ngIf="groupProvider.userGroupId==null||groupProvider.userGroupId==''" class="balloonContainer">
      <div class="balloon">
        <img src="{{userProvider.userTableInfo[userProvider.getUid()].photoUrl}}">
        {{userProvider.userTableInfo[userProvider.getUid()].name}}
      </div>
    </div>
    <div class="bottomElement" style="width: 100%;"
         *ngIf="groupProvider.userGroupId==null||groupProvider.userGroupId==''">
      <h6>Hello! {{userProvider.userTableInfo[userProvider.getUid()].name}}</h6>
      <h6>Let's join a group first!</h6>
      <button padding
              ion-button round outline (click)="joinGroup()">Join Group Now!
      </button>
    </div>

    <div *ngIf="statusProvider.statusTableInfo.startTime!=null
    &&statusProvider.statusTableInfo.startTime!=''
    &&(statusProvider.statusTableInfo.endTime==null
    ||statusProvider.statusTableInfo.endTime=='')">
      <!--game master has started game, and in progress;-->
      <div *ngIf="statusProvider.statusTableInfo.groups==null
    ||statusProvider.statusTableInfo.groups.length==0
    ||statusProvider.groupStatus==null||statusProvider.groupStatus.startTime==null">
        <!--group not started-->
        <div class="balloonContainer" *ngIf="groupProvider.groupTableInfo[groupProvider.userGroupId]!=null">
          <div class="balloon"
               *ngFor="let memberId of groupProvider.groupTableInfo[groupProvider.userGroupId].members">
            <img src="{{userProvider.userTableInfo[memberId].photoUrl}}">
            {{userProvider.userTableInfo[memberId].name}}
          </div>

        </div>

        <ion-grid class="bottomElement"
                  *ngIf="groupProvider.groupTableInfo[groupProvider.userGroupId]!=null&&!groupProvider.groupLeaderFlag">
          <ion-row no-padding>
            <ion-col col-10 offset-1 no-padding>
              <h6 no-margin>
                Ask your team leader to start.
              </h6>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-10 offset-1 no-padding>
              <h6 no-margin>
                You team leader is: </h6>
            </ion-col>

          </ion-row>
          <ion-row>
            <ion-col col-10 offset-1 no-padding>
              <img class="groupLeaderAvatar"
                   src={{userProvider.userTableInfo[groupProvider.groupTableInfo[groupProvider.userGroupId].groupCreator].photoUrl}}>
              <span> {{userProvider.userTableInfo[groupProvider.groupTableInfo[groupProvider.userGroupId].groupCreator].name}}</span>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col offset-1 col-10>
              <button ion-button no-margin
                      round outline small (click)="viewIntro()">Watch Intro First
              </button>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-grid class="bottomElement" *ngIf="groupProvider.groupLeaderFlag">
          <ion-row>
            <ion-col col-10 offset-1 no-padding>
              <h6 no-margin>
                You are team leader.</h6>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-10 offset-1 no-padding>
              <h6 no-margin>
                Your team is waiting for you to start.
              </h6>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col offset-3 col-6>
              <button ion-button no-margin
                      round outline small (click)="startGame()">Start Game
              </button>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col offset-1 col-10>
              <button ion-button no-margin
                      round outline small (click)="viewIntro()">Watch Intro First
              </button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
      <div *ngIf="(statusProvider.statusTableInfo.groups!=null
    &&statusProvider.statusTableInfo.groups.length!=0
    &&statusProvider.groupStatus!=null
    &&statusProvider.groupStatus.startTime!=null
    &&statusProvider.groupStatus.puzzles!=null)">
        <!--group started-->


        <div *ngFor="let puzzleId of statusProvider.puzzleStatusKeys">
          <!--group solved-->
          <ion-item text-wrap no-lines class="puzzle" *ngIf="statusProvider.puzzleStatus[puzzleId].solved"
                    (click)="puzzleSolve(puzzleId)"
                    [ngStyle]="{'animation':statusProvider.randomStyle[puzzleId].randomAnimation,'animation-duration': statusProvider.randomStyle[puzzleId].randomDuration,'background':statusProvider.randomStyle[puzzleId].randomColor}">
            <ion-thumbnail item-start>
              <img src={{gameProvider.puzzleDetails[puzzleId].photoUrl}}>
            </ion-thumbnail>
            {{gameProvider.puzzleDetails[puzzleId].title}}
            <h5 *ngIf="gameProvider.puzzleDetails[puzzleId].memory!=null
                       &&gameProvider.puzzleDetails[puzzleId].memory!=''">
              Memory piece found!
              <ion-icon name="happy"></ion-icon>
            </h5>
            <ion-icon name="checkmark" item-end></ion-icon>
          </ion-item>
        </div>
        <ion-item text-wrap no-lines
                  *ngIf="statusProvider.firstUnsolved!=null
                  &&statusProvider.firstUnsolved!=''"
                  (click)="puzzleSolve(statusProvider.firstUnsolved)" class="puzzle unsolvedPuzzle">

          <ion-thumbnail item-start>
            <img src={{gameProvider.puzzleDetails[statusProvider.firstUnsolved].photoUrl}}>
          </ion-thumbnail>
          {{gameProvider.puzzleDetails[statusProvider.firstUnsolved].title}}
          <h5>Awaits your challenge!</h5>
          <ion-icon item-end name="bonfire"></ion-icon>
        </ion-item>
        <ion-grid text-center *ngIf="statusProvider.groupStatus.endTime!=null
                        &&statusProvider.groupStatus.endTime!=''">
          <ion-row>
            <ion-col no-padding>
              <h6 no-margin>
                Your team has finished!
              </h6>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col no-padding>
              <h6 no-margin>
                You may proceed to the specified location!
              </h6>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <button ion-button no-margin
                      round outline small (click)="viewRank()">View rank
              </button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>
  </div>
  <div class="spacer footSpacer"></div>
</ion-content>

