<ion-header>

  <ion-navbar>
    <ion-title *ngIf="!userProvider.firebaseConnection">
      <ion-spinner name="bubbles"></ion-spinner>
      Reconnecting
    </ion-title>
    <ion-title *ngIf="userProvider.firebaseConnection">
      Xperience @EEE
    </ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
  <div class="background-wrap">
    <div class="bubble x1"></div>
    <div class="bubble x2"></div>
    <div class="bubble x3"></div>
    <div class="bubble x4"></div>
    <div class="bubble x5"></div>
    <div class="bubble x6"></div>
    <div class="bubble x7"></div>
    <div class="bubble x8"></div>
    <div class="bubble x9"></div>
    <div class="bubble x10"></div>
  </div>
  <ion-toolbar *ngIf="(!gameProvider.firstTimeFlag
    &&!groupProvider.firstTimeFlag
    &&!statusProvider.firstTimeFlag)
    &&(statusProvider.statusTableInfo.startTime!=null
    &&statusProvider.statusTableInfo.startTime!=''
    &&(statusProvider.statusTableInfo.endTime==null
    ||statusProvider.statusTableInfo.endTime==''))
    &&(statusProvider.statusTableInfo.groups!=null
    &&statusProvider.statusTableInfo.groups.length!=0
    &&statusProvider.groupStatus!=null
    &&statusProvider.groupStatus.startTime!=null
    &&statusProvider.groupStatus.puzzles!=null)" ion-fixed>
    <ion-grid>
      <ion-row style="text-align: center;">
        <ion-col col-6>
          <ion-icon padding-right ios="ios-alarm" md="md-alarm"></ion-icon>
          {{settingProvider.time-statusProvider.groupStatus.startTime|date:'HH:mm:ss':'UTC'}}
        </ion-col>
        <ion-col col-6>
          <ion-icon padding-right ios="ios-clipboard" md="md-clipboard"></ion-icon>
          {{statusProvider.groupStatus.point}}
        </ion-col>
      </ion-row>
      <ion-row *ngIf="statusProvider.groupStatus.endTime==null
                        ||statusProvider.groupStatus.endTime==''">
        <div col-1>
        </div>
        <div class="progress-outer" col-9>
          <div class="progress-inner"
               [style.width]="statusProvider.puzzleStatusKeys.indexOf(statusProvider.firstUnsolved)/statusProvider.puzzleStatusKeys.length*100 + '%'">
          </div>
        </div>
        <div col-2 class="statusNumber">
          {{statusProvider.puzzleStatusKeys.indexOf(statusProvider.firstUnsolved)}}/{{statusProvider.puzzleStatusKeys.length}}
        </div>
      </ion-row>
      <ion-row *ngIf="statusProvider.groupStatus.endTime!=null
                        &&statusProvider.groupStatus.endTime!=''">
        check team rank
      </ion-row>
    </ion-grid>
  </ion-toolbar>
  <ion-fab *ngIf="(!gameProvider.firstTimeFlag
    &&!groupProvider.firstTimeFlag
    &&!statusProvider.firstTimeFlag)
    &&(statusProvider.statusTableInfo.startTime!=null
    &&statusProvider.statusTableInfo.startTime!=''
    &&(statusProvider.statusTableInfo.endTime==null
    ||statusProvider.statusTableInfo.endTime==''))
    &&(statusProvider.statusTableInfo.groups!=null
    &&statusProvider.statusTableInfo.groups.length!=0
    &&statusProvider.groupStatus!=null
    &&statusProvider.groupStatus.startTime!=null
    &&statusProvider.groupStatus.puzzles!=null)"
           right bottom ion-fixed>
    <button ion-fab mini color="light">
      <ion-icon name="arrow-dropleft"></ion-icon>
    </button>
    <ion-fab-list side="left">
      <button ion-fab (click)="viewMap()">
        <ion-icon ios="ios-compass" md="md-compass"></ion-icon>
      </button>
      <button ion-fab (click)="viewTable()">
        <ion-icon ios="ios-flask" md="md-flask"></ion-icon>
      </button>
      <button ion-fab (click)="viewRank()">
        <ion-icon ios="ios-podium" md="md-podium"></ion-icon>
      </button>
      <button ion-fab (click)="overlayProvider.showDraw()">
        <ion-icon ios="ios-color-palette" md="md-color-palette"></ion-icon>
      </button>

    </ion-fab-list>
  </ion-fab>
  <div class="spacer headSpacer"></div>
  <div *ngIf="!gameProvider.firstTimeFlag
    &&!groupProvider.firstTimeFlag
    &&!statusProvider.firstTimeFlag">
    <!--tableAllFetched-->
    <button *ngIf="(groupProvider.userGroupId==null||groupProvider.userGroupId=='')"
            ion-button block (click)="joinGroup()">Join Group
    </button>
    <div *ngIf="statusProvider.statusTableInfo.startTime!=null
    &&statusProvider.statusTableInfo.startTime!=''
    &&(statusProvider.statusTableInfo.endTime==null
    ||statusProvider.statusTableInfo.endTime=='')">
      <!--game master has started game, and in progress;-->
      <div *ngIf="statusProvider.statusTableInfo.groups==null
    ||statusProvider.statusTableInfo.groups.length==0
    ||statusProvider.groupStatus==null||statusProvider.groupStatus.startTime==null">
        <!--group not started-->
        <div class="balloonContainer" *ngIf="groupProvider.groupTableInfo[groupProvider.userGroupId]!=null">
          <div class="balloon"
               *ngFor="let memberId of groupProvider.groupTableInfo[groupProvider.userGroupId].members">
            <img src="{{userProvider.userTableInfo[memberId].photoUrl}}">
          </div>

        </div>
        <ion-grid class="bottomElement" *ngIf="!groupProvider.groupLeaderFlag">
          <ion-row no-padding>
            <ion-col col-10 offset-1 no-padding>
              <h6 no-margin>
                Ask you team leader to start.
              </h6>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-10 offset-1 no-padding>
              <h6 no-margin>
                You team leader is: </h6>
            </ion-col>

          </ion-row>
          <ion-row>
            <ion-col col-10 offset-1 no-padding>
              <img class="groupLeaderAvatar"
                   src={{userProvider.userTableInfo[groupProvider.groupTableInfo[groupProvider.userGroupId].groupCreator].photoUrl}}>
              <span> {{userProvider.userTableInfo[groupProvider.groupTableInfo[groupProvider.userGroupId].groupCreator].name}}</span>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-grid class="bottomElement" *ngIf="groupProvider.groupLeaderFlag">
          <ion-row>
            <ion-col col-10 offset-1 no-padding>
              <h6 no-margin>
                You are team leader.</h6>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-10 offset-1 no-padding>
              <h6 no-margin>
                Your team is waiting for you.
              </h6>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col offset-3 col-6>
              <button ion-button no-margin
                      round outline small (click)="startGame()">Start Game
              </button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
      <div *ngIf="(statusProvider.statusTableInfo.groups!=null
    &&statusProvider.statusTableInfo.groups.length!=0
    &&statusProvider.groupStatus!=null
    &&statusProvider.groupStatus.startTime!=null
    &&statusProvider.groupStatus.puzzles!=null)">
        <!--group started-->


        <div *ngFor="let puzzleId of statusProvider.puzzleStatusKeys">
          <!--group solved-->
          <ion-item no-lines class="solvedPuzzle" *ngIf="statusProvider.puzzleStatus[puzzleId].solved"
                    (click)="puzzleSolve(puzzleId)"
                    [ngStyle]="{'-webkit-animation':statusProvider.randomStyle[puzzleId].randomAnimation,'-webkit-animation-duration': statusProvider.randomStyle[puzzleId].randomDuration,'background':statusProvider.randomStyle[puzzleId].randomColor}">
            <ion-thumbnail item-start>
              <img src={{gameProvider.puzzleDetails[puzzleId].photoUrl}}>
            </ion-thumbnail>
            <h2> {{gameProvider.puzzleDetails[puzzleId].title}}</h2>
          </ion-item>
        </div>
        <ion-item no-lines *ngIf="statusProvider.firstUnsolved!=null&&statusProvider.firstUnsolved!=''"
                  (click)="puzzleSolve(statusProvider.firstUnsolved)" class="unsolvedPuzzle">

          <ion-thumbnail item-start>
            <img src={{gameProvider.puzzleDetails[statusProvider.firstUnsolved].photoUrl}}>
          </ion-thumbnail>
          <h2> {{gameProvider.puzzleDetails[statusProvider.firstUnsolved].title}}</h2>
          <h5>Awaits your challenge!</h5>
        </ion-item>
        <ion-item *ngIf="statusProvider.groupStatus.endTime!=null
                        &&statusProvider.groupStatus.endTime!=''">
          <p>Game Finished</p>
        </ion-item>
      </div>
    </div>
  </div>

  <div class="spacer footSpacer"></div>
</ion-content>
<div class="overlay" [hidden]="!overlayProvider.showOverLay" hide-tabs>
  <canvas-draw *ngIf="overlayProvider.showCanvas"></canvas-draw>
  <button ion-button icon-only style="height: 5%; float: right; background-color: transparent"
          (click)="overlayProvider.initOverlays()">
    <ion-icon name="close-circle"></ion-icon>

  </button>
</div>
