page-chat {
  .chatBox {
    background-color: #F2F2F2;
    border-radius: 5px;
    box-shadow: 0 0 6px #B2B2B2;
    display: inline-block;
    padding: 5px 18px;
    position: relative;
    vertical-align: top;
  }
  h5 {
    text-overflow: ellipsis !important;
  }

  .chatBox::before {
    background-color: #F2F2F2;
    content: "\00a0";
    display: block;
    height: 10px;
    position: absolute;
    top: 5px;
    transform: rotate(29deg) skew(-35deg);
    -moz-transform: rotate(29deg) skew(-35deg);
    -ms-transform: rotate(29deg) skew(-35deg);
    -o-transform: rotate(29deg) skew(-35deg);
    -webkit-transform: rotate(29deg) skew(-35deg);
    width: 10px;
  }

  .others {
    float: left;
    border: 1px solid grey;
    box-shadow: -2px 2px 1px 0 grey;
    margin: 2px 45px 2px 20px;
    .nameTime {
      font-size: 0.25em;
      text-align: left;
      color: grey;
    }
  }
  .admin {
    float: left;
    border: 1px solid red;
    box-shadow: -2px 2px 1px 0 red;
    margin: 2px 45px 2px 20px;
    .nameTime {
      font-size: 0.25em;
      text-align: left;
      color: red;
    }
  }
  .admin::before {
    left: -5px;
    box-shadow: -1px 1px 1px 0 red;
  }

  .others::before {
    left: -5px;
    box-shadow: -1px 1px 1px 0 grey;
  }

  .me {
    float: right;
    border: 1px solid color($colors, eeeBlue, base);;
    box-shadow: 2px 2px 1px 0 color($colors, eeeBlue, base);;
    margin: 2px 20px 2px 45px;
    .nameTime {
      font-size: 0.25em;
      text-align: right;
      color: color($colors, eeeBlue, base);
    }
  }

  .me::before {
    right: -5px;
    box-shadow: 1px -1px 1px 0 color($colors, eeeBlue, base);;
  }

  .chatWindow {
    padding-bottom: 10%;
  }
  .chatInput {
    font-size: 1.1em;
    height: 90%;
    border: 1px solid color($colors, eeeBlue, base) !important;
    border-radius: 5px !important;
    margin-left: 10% !important;
    width: 80%;
    overflow: hidden;
    resize: none
  }
}
