<ion-header>

  <ion-navbar>
    <ion-title>{{title}}</ion-title>
    <ion-buttons end>
      <button ion-button>
        <ion-icon name="camera"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content #content padding>
  <div class="chatWindow">
    <ion-list no-lines>
      <div *ngFor="let messageId of chatProvider.chatTableInfoKeys[receiver]">
        <ion-item
          *ngIf="chatProvider.chatTableInfo[receiver][messageId].sender==userProvider.getUid()">
          <div class="chatBox me"><p>{{chatProvider.chatTableInfo[receiver][messageId].content}}</p></div>

        </ion-item>
        <ion-item
          *ngIf="chatProvider.chatTableInfo[receiver][messageId].sender!=userProvider.getUid()">
          <div class="chatBox others"><p>{{chatProvider.chatTableInfo[receiver][messageId].content}}</p></div>
        </ion-item>

      </div>
    </ion-list>
  </div>
</ion-content>
<ion-footer ion-fixed>
  <ion-toolbar class="no-border" color="white">
    <ion-input [(ngModel)]="messageTemp.content" placeholder="Write content ..."></ion-input>
    <ion-buttons end>
      <button ion-button (click)="sendMessage()">
        <ion-icon name="send" color="primary"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
