page-puzzle-solve {
  img {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 10%;
    border: 4px solid rgba(255, 255, 255, 0.4);
    -webkit-box-shadow: 0px 0px 142px -37px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 142px -37px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 142px -37px rgba(0, 0, 0, 0.75);

  }
  .statusNumber {
    text-align: center;
    font-size: 0.25em;
  }
}
