<ion-header>

  <ion-navbar>
    <ion-title *ngIf="!userProvider.firebaseConnection">
      <ion-spinner name="bubbles"></ion-spinner>
      Reconnecting
    </ion-title>
    <ion-title *ngIf="userProvider.firebaseConnection&&statusProvider.puzzleStatus[puzzleId].solved==false">
      Solve the puzzle!
    </ion-title>
    <ion-title *ngIf="userProvider.firebaseConnection&&statusProvider.puzzleStatus[puzzleId].solved==true">
      Solved puzzle
    </ion-title>
  </ion-navbar>

</ion-header>

<ion-content style="text-align: center">
  <div class="background-wrap">
    <div class="bubble x1"></div>
    <div class="bubble x2"></div>
    <div class="bubble x3"></div>
    <div class="bubble x4"></div>
    <div class="bubble x5"></div>
    <div class="bubble x6"></div>
    <div class="bubble x7"></div>
    <div class="bubble x8"></div>
    <div class="bubble x9"></div>
    <div class="bubble x10"></div>
  </div>

  <ion-toolbar ion-fixed>
    <ion-grid>
      <ion-row>
        <ion-col col-6>
          <ion-icon padding-right md="md-alarm"></ion-icon>
          {{settingProvider.time-statusProvider.groupStatus.startTime|date:'HH:mm:ss':'UTC'}}
        </ion-col>
        <ion-col col-6>
          <ion-icon padding-right ios="ios-clipboard" md="md-clipboard"></ion-icon>
          {{statusProvider.groupStatus.point}}
        </ion-col>
      </ion-row>
      <ion-row *ngIf="statusProvider.groupStatus.endTime==null
                        ||statusProvider.groupStatus.endTime==''">
        <div col-1>
        </div>
        <div class="progress-outer" col-9>
          <div class="progress-inner"
               [style.width]="statusProvider.puzzleStatusKeys.indexOf(statusProvider.firstUnsolved)/statusProvider.puzzleStatusKeys.length*100 + '%'">
          </div>
        </div>
        <div col-2 class="statusNumber">
          {{statusProvider.puzzleStatusKeys.indexOf(statusProvider.firstUnsolved)}}/{{statusProvider.puzzleStatusKeys.length}}
        </div>
      </ion-row>
      <ion-row *ngIf="statusProvider.groupStatus.endTime!=null
                        &&statusProvider.groupStatus.endTime!=''">
        check team rank
      </ion-row>

    </ion-grid>
  </ion-toolbar>

  <div class="spacer headSpacer"></div>
  <div padding>
    <ion-item no-lines>
      <div class="row">
        <div class="col">
          <div class="text-center">
            <h2 style="text-align: center;">{{gameProvider.puzzleDetails[puzzleId].title}}</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="text-center">
            <h5 style="text-align: center;">{{gameProvider.puzzleDetails[puzzleId].puzzleContent}}</h5>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="text-center">

            <img src='{{gameProvider.puzzleDetails[puzzleId].photoUrl}}' (click)="openImage()">

          </div>
        </div>
      </div>
    </ion-item>
    <div class="spacer buttonSpacer"></div>
    <button ion-button [disabled]="lock"
            class="in-progress"
            *ngIf="statusProvider.puzzleStatus[puzzleId].hint1==false"
            block outline (click)="viewHint1()">Hint(-20)
    </button>
    <ion-item no-lines *ngIf="statusProvider.puzzleStatus[puzzleId].hint1==true">
      <div class="row">
        <div class="col">
          <div class="text-center">
            <h5 style="text-align: left;">Hint 1:{{gameProvider.puzzleDetails[puzzleId].hint1}}</h5>
          </div>
        </div>
      </div>
    </ion-item>
    <div class="spacer buttonSpacer"></div>
    <button ion-button [disabled]="lock"
            *ngIf="statusProvider.puzzleStatus[puzzleId].hint2==false&&statusProvider.puzzleStatus[puzzleId].hint1==true"
            block outline (click)="viewHint2()">View More Hint(-20)
    </button>
    <ion-item no-lines *ngIf="statusProvider.puzzleStatus[puzzleId].hint2==true">
      <div class="row">
        <div class="col">
          <div class="text-center">
            <h5 style="text-align: left;">Hint 2:{{gameProvider.puzzleDetails[puzzleId].hint2}}</h5>
          </div>
        </div>
      </div>
    </ion-item>
    <div class="spacer buttonSpacer"></div>
    <div *ngIf="statusProvider.puzzleStatus[puzzleId].solved==false">
      <ion-item no-lines>
        <ion-label floating>Your answer:</ion-label>
        <ion-input type="text"
                   [(ngModel)]="answerTemp"></ion-input>
      </ion-item>
      <button ion-button block outline (click)="answerPuzzle()">Submit (+10)</button>
    </div>
    <div padding *ngIf="statusProvider.puzzleStatus[puzzleId].solved==true" class="row">
      <div class="col">
        <div class="text-center">
          <h5 style="text-align: left;">Puzzle has been solved,
            answer:</h5>
          <h2>
            {{gameProvider.puzzleDetails[puzzleId].answer}}
          </h2>
        </div>
      </div>
    </div>
  </div>
  <div class="spacer footSpacer"></div>
</ion-content>
